.form {
  border: 2px solid #5446aa;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 16px 60px;
}

.label {
  font-size: 20px;
  font-weight: 600;
}

.input {
  font-size: 16px;
  padding: 8px;
  width: 370px;
}

.input:focus,
.input:active {
  outline: none;
  border-color: #5446aa;
}

.button {
  max-width: 120px;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: #5446aa;
  color: #ffffff;
  transition: background-color 250ms linear;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: #7968e7;
}
