.contact__form {
  border: 2px solid #5446aa;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 16px 30px;
}

.contact__label {
  font-size: 20px;
  font-weight: 600;
}

.contact__input {
  font-size: 16px;
  padding: 8px;
  width: 340px;
}

.contact__input:focus,
.contact__input:active {
  outline: none;
  border-color: #5446aa;
}

.contact__button {
  max-width: 120px;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: #5446aa;
  color: #ffffff;
  transition: background-color 250ms linear;
}

.contact__button:hover,
.contact__button:focus {
  cursor: pointer;
  background-color: #7968e7;
}
